# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# -----------------------------
# Virtual Environment
# -----------------------------
traffic_analysis/
venv/
.venv/
env/

# -----------------------------
# YOLO Weights
# -----------------------------
*.pt
*.pth
*.onnx
*.engine

# -----------------------------
# Input Videos
# -----------------------------
*.mp4
*.avi
*.mov
*.mkv

# -----------------------------
# Output Videos
# -----------------------------
outputs/
runs/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db